<%= link_to '<i class="fas fa-basketball"></i>'.html_safe, root_path, class: "fa-3x position-absolute mt-3 ms-4 text-black"  %>
<%= link_to '<i class="fas fa-user"></i>'.html_safe, profil_path(current_user), class: "fa-3x position-absolute mt-3 me-4 text-black end-0"  %>
<div data-controller="zone" style="background-image: url('https://i.pinimg.com/736x/54/9b/f7/549bf79bf9fdd69ef5af74e607550264.jpg');">
  <%= render "terrain" %>

  <div id="custom-modal" class="modal" data-zone-target="modal">
      <div class="modal-content">
        <span class="close" data-zone-target="close">&times;</span>
        <div class="container">
          <div class="row">
            <div class="col-6 m-auto">
              <div class="offer-form">
                <div class="mt-3">
                  <%= render "form", training: @training %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
