<div style="position: fixed; top: 0; width: 100%; z-index: 1000;">
  <%= render 'shared/navbar' %>
</div>

<div style="height: 100vh;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div style="position: fixed; bottom: 0; width: 100%; z-index: 1000;">
  <%= render 'shared/footnav' %>
</div>
