@import "vars";


.card1 .content h1 {
  color: $base-color;
}

.card1{
  left: 50%;
  transform: translateX(-50%);
  top:200px;

  @media (max-width: 300px) {
    width: 90%; // Reduce the width of the card on small screens
    margin: 0 auto; // Center the card
    transform: none; // Remove the transform
  }
}

.texthome{
  color:white
}

.container1 {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;

}

.container1 .card1 {
  position: relative;
  border-radius: 10px;
}

.container1 .card1 .icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $base-color;
  transition: 0.7s;
  z-index: 1;
}

.container1 .card1:nth-child(1) .icon {
  background: $base-color;
}

.container1 .card1:nth-child(2) .icon {
  background: #6eadd4;
}

.container1 .card1:nth-child(3) .icon {
  background: #4aada9;
}


.container1 .card1 .icon1 .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.7s;
  color: #fff;
}

.container1 .card1 .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.container1 .card1 .face.face1 {
  position: relative;
  background: $base-gris;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container1 .card1:hover .face.face1{
  background: $base-color;
  transform: translateY(0px);
}

.container1 .card1 .face.face1 .content1 {
  opacity: 1;
  transition: 0.5s;
}

.container .card:hover .face.face1 .content1 {
  opacity: 1;
}

.container1 .card1 .face.face1 .content1 i{
  max-width: 100px;
}

.container1 .card1 .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.8);
  transform: translateY(-100px);
}

.container1 .card1:hover .face.face2{
  transform: translateY(0);
}

.container1 .card1 .face.face2 .content1 p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: $base-gris;
}

.container1 .card1 .face.face2 .content1 h3 {
  margin: 0 0 10px 0;
  padding: 0;
  color: #fff;
  font-size: 24px;
  text-align: center;
  color: $base-gris;
}

.container1 a {
  text-decoration: none;
  color: $base-gris;
}

.footer1{
  position: absolute;
  top: 540px;
  margin: 10px;
  width: 100%;
   text-align: center;
}
.footer1 h2{
  font-size:18px;
  font-family: 'Exo', sans-serif;

}

.footer1 img {
  margin-top: 140px;
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

@media (max-width: 428px) { // iPhone 14 Pro Max width
  .footer1 img {
    top: auto; // Let the browser calculate the top position
    position: relative; // Change the position to relative
  }
}

.player {
  position: absolute;
  top: 0;
  margin: 0 auto;
  height: 100vh;
}

.homepage {
  position: relative;
  height: 100vh;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('fond.jpg');
    background-size: 180%;
    background-position: center top 60%;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    z-index: -1;
  }
}

.title {
  padding-top: 5rem;
}

.title2 {
  padding-top: 2rem;
}

.button-sign {
  text-align: center;
  background-color: $base-color;
  position: absolute;
  bottom: 12%;
  left: 50%; // Centrer horizontalement
  transform: translateX(-50%); // Décaler de moitié sa propre largeur
  width: 80%;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 4px;
}

.button-start {
  text-align: center;
  background-color: $base-color;
  position: absolute;
  bottom: 15%;
  left: 50%; // Centrer horizontalement
  transform: translateX(-50%); // Décaler de moitié sa propre largeur
  width: 80%;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 10px;
}

.button-sign-in {
  text-align: center;
  background-color: $base-gris;
  position: absolute;
  bottom: 4%;
  left: 50%; // Centrer horizontalement
  transform: translateX(-50%); // Décaler de moitié sa propre largeur
  width: 80%;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 4px;
}


.rounded-table{
  border-radius: 10px;
  overflow: hidden;
  background: $base-gris;
}

.table-light {
    --bs-table-color: #FF3115;
    --bs-table-bg: #3C3C43;
    --bs-table-border-color: #c6c7c8;
    --bs-table-striped-bg: #ecedee;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #dfe0e1;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #e5e6e7;
    --bs-table-hover-color: #000;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}

.pastille{
  position: absolute;
  background-color: $base-color;
  height: 10px;
  width: 10px;
  top: -3px;
  right: -3px;
  border-radius: 50%;
}
