  <%= render "shared/navbar" %>
  <h1>Home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <%= link_to "training", new_training_path  %>
  <%= link_to "Profil", profil_path(current_user) %>
  <%= link_to "Leaderboard", leaderboards_path %>
