<%= render "shared/navbar" %>
<div class="container">
  <h1>Leaderboard</h1>
  <% @leaderboard_users.each do |user| %>
    <%= link_to user.username, profil_path(user) %>
    <!-- Display other relevant information -->
  <% end %>
</div>
