@import "vars";

.custom-button{
  outline: none;
  margin: 0 0 0 5px;
  padding: 0 8px;
  border-radius: 10px;
  background-color: #33335b;
  border: 1px solid #5f63e1;
  color: #fff;
  height: 38px;
  font-size: 16px;
  cursor: pointer!important;
}
