.navbar-lewagon {
  background: #ffffff;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navbar-nav .nav-link {
  font-weight: bold;
  color: #FF3115;
}

.navbar-lewagon .navbar-brand img {
  width: 150px; // Ajustez cette valeur en fonction de la taille souhaitée
  height: auto; // Cela garantit que l'image conserve ses proportions
}
