.highlighted-zone {
  fill: #FF3115 !important;
  filter: url(#f3d);
}

.terrain {
  background-color: #3C3C43;
}

.score {
  color: black;
  font-size: 5em;
  font-weight: bold;
}

.text{
  color: #FF3115;
}
