// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/modal";
@import "pages/training"; // Import your SCSS file
@import "components/custom";
@import "components/custombutton";
@import"components/profile";
@import"components/svg";

$base-color: #FF3115 !default;

.tot {
  height: 100vh;
  background: url('icons/GroupShooter.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 150px;
}

.carte-jouer{
  border-radius: 10px;
  overflow: hidden;
}

.form-control:focus{
  border-color: $base-color;
  box-shadow: 0px 0px 0px 1px $base-color;
}

.mapboxgl-popup-close-button {
  font-size: 40px !important;
  margin-top: 5px !important;
  margin-right: 5px !important;
  margin-bottom: 10px !important;
}
